<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <service android:name=".services.fake.FakeTraffic"
                 android:label="FAKE TRAFFIC"
                 android:icon="@drawable/logo_24"
                 android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                 android:exported="true">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service android:name=".services.fake.FakeAppInstall"
                 android:label="FAKE APP INSTALL"
                 android:icon="@drawable/logo_24"
                 android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                 android:exported="true">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

    </application>

</manifest>
